---
ip: "192.168.10.10"
memory: 4096
cpus: 2
pyafipws: false

# networks:
#   - type: "public"
#     ip: "192.168.2.150"

folders:
  - map: "."
    to: "/home/vagrant"

databases:
  - vagrant
  
sites:
  - map: vagrant.dev
    to: /var/www/html
    aliases:
      - map: app
        to: /home/vagrant/www/app/public
